<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="7zip" />
    <package id="ruby" />
    <package id="putty" />
    <package id="vim" />
    <package id="dropbox" />
    <package id="nuget.commandline" />
    <package id="procexp" />
    <package id="scriptcs" />
    <package id="visualstudiocommunity2013" />
</packages>